#banner {
    background: gold;
    height: 50vh;
    min-height: 250px;
    max-height: 600px;
}

#place-div {
    margin: 0;
    padding: 0;
    height: 15vw;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

@media (max-width: 767px) {
    #place-div {
        margin: 0;
        padding: 0 !important;
        height: 35vw;
    }    
}

img {
    width: 100%;
    display: block;
}